.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  background-color: #fff;
}

.carousel-img {
  height: 200px;
  object-fit: contain;
}

.nav {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.about-us {
  background-color: #fcd6ec;
  padding: 20px 5px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
}

.about-us h2 {
  margin-bottom: 10px;
}

.about-us p {
  margin: 0 auto;
  font-size: 16px;
}
.about-list {
  margin-top: 20px;
  text-align: center;
}
.about-list strong {
  display: block;
  margin-bottom: 10px;
}

.about-list ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: left;
}

.about-list li::before {
  content: "•";
  color: #d63384;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.about-list li {
  margin: 6px 0;
}
