.card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  background-color: white;
  max-width: 700px;
  border: 2px solid #dcf2fa;
  margin: 1rem auto;
  align-items: flex-start;
}

.image {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #f4b9e0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  text-align: right;
}

.price small {
  font-weight: normal;
  font-size: 0.85rem;
  color: #555;
}

.subinfo {
  font-size: 0.9rem;
  color: #555;
}

.location {
  display: inline-block;
}

.description {
  font-size: 0.95rem;
  color: #333;
  font-weight: 500;
}
.actividades {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #444;
}
